* {
  box-sizing: border-box;
}

html, body {
  background:-moz-linear-gradient(top,#c7e9f4,#effbff);
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  border-top:3px solid black;
}

.center {
  align-self: center;
}

.flow-right {
  display: flex;
  justify-content: space-around;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 100vh;
}

.title, .controls, .button {
  flex: none;
}

.button {
  padding: 10px 20px;
}

.todo-list {
  flex: 1 1 0;
  margin-top: 20px;
  padding: 20px;
  overflow-y: auto;
}

.todo-delete {
  margin: 10px;
}

.todo-checkbox {
  margin: 10px;
}

.todo-container {
  padding: 20px;
  border-bottom: 1px solid #333;
}

.todo-container:first-of-type {
  border-top: 1px solid #333;
}
input{
  margin-left:6px;
  margin-top:10px;
  margin-bottom:14px;
  box-shadow:1px 1px 1px;
}
input[type='checkbox']{
  position:relative;
 width:15px;
 height:15px;
 top:2px;
}
.check{
  margin-left:140px;
}

li{
  border:3px solid black;
  box-shadow:3px 3px 4px grey;
  margin-bottom:20px;
  padding:6px;
}
#boton_panico{
  padding:10px;
  width:100px;
  left:349px;
  top:-15px;
  margin:auto;
  margin-bottom:20px;
  background-color:red;
  border-radius:50%;
}

div:first-child{
   background-color:#b8dbe7;
   border:3px ridge black ;
}
.boton_cerrar{
  background-color:red;
  padding:4px;
  width:27px;
  margin-left:15px;
  margin-bottom:10px;
  border-radius:6px 6px 6px 6px;
}
